image: "python:$PYTHON_TAG"

variables:
  PYTHON_TAG: 3.14.2-slim-trixie

stages:
  - building
  - testing

deps:
  stage: building
  tags:
    - formation
  variables:
    TRIGGER_CACHE: "off"
  script:
    - python -m venv venv
    - source venv/bin/activate
    - pip install -r app/requirements.txt
  cache:
    key: "py-deps-$CI_COMMIT_BRANCH"
    paths:
      - venv/
    policy: push
  rules:
    - changes:
        - app/requirements.txt
    - if: $TRIGGER_CACHE == "on"
     
    

test:
  stage: testing
  tags:
    - formation
  before_script:
    - source venv/bin/activate
  script:
    - pytest
  cache:
    key: "py-deps-$CI_COMMIT_BRANCH"
    untracked: true
    policy: pull