image: python:3.14.2-slim-trixie

# liste arbitraire des étapes principales du pipeline dans l'ordre d'exécution
# REM: si plusieurs jobs appartiennent à la même étape, ils sont exécutés en parallèle
stages:
  - building
  - testing

# 1. créer un job qui installe les dépendances, dépendances mis en cache avec gitlab
# 2. on n'exécute ce job que si les dépendances n'ont pas changé
# 2.bis. au cas où le cache est supprimé, on peut le regénérer manuellement
# 3. accrocher le cache dans le job de test

deps:
  # association du job à une étape
  stage: building
  tags:
    - formation  
  script:
    - echo "deps"

test:
  stage: testing
  tags:
    - formation
  before_script:
    - python -m venv venv
    - source venv/bin/activate
    - pip install -r app/requirements.txt
  script:
    - pytest