image: python:3.14.2-slim-trixie

stages:
  - building
  - testing

# 1. créer un job qui installe les dépendances, dépendances mis en cache avec gitlab
# 2. on n'exécute ce job que si les dépendances n'ont pas changé
# 2.bis. au cas où le cache est supprimé, on peut le regénérer manuellement
# 3. accrocher le cache dans le job de test

deps:
  stage: building
  tags:
    - formation  
  script:
    - python -m venv venv
    - source venv/bin/activate
    - pip install -r app/requirements.txt
  cache:
    key: "py-deps-$CI_COMMIT_BRANCH"
    paths:
      - venv/
    policy: push
  # règles des rules: liste des règles
  # 1. chaque règle vraie permet d'exécuter le job (OU)
  # 2. un règle est un ensemble de clauses: toutes les clauses doivent être vraies pour que la règle soit vraie (ET)
  rules:
    - changes:
        - app/requirements.txt
    

test:
  stage: testing
  tags:
    - formation
  before_script:
    - source venv/bin/activate
  script:
    - pytest
  cache:
    key: "py-deps-$CI_COMMIT_BRANCH"
    untracked: true
    policy: pull