# préfixer une structure yaml avec "." désactive la structure
# &truc est une référence à une structure
.mr_rules: &mr_rules
  - if: $CI_OPEN_MERGE_REQUESTS
  - if: $CI_COMMIT_BRANCH == "main"

image: "$CI_REGISTRY_IMAGE/python:$PYTHON_TAG"

variables:
  PYTHON_TAG: 3.14.2-slim-trixie

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE != "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "push"

stages:
  - building
  - testing
  - qualifying
  - reviewing

# include:
#   - component: gitlab.lan.fr/formation/gitlab-opencode/opencode@main
#     inputs:
#       config_dir: ${CI_PROJECT_DIR}/.opencode
#       stage: reviewing
#       auth_json: $OPENCODE_AUTH_JSON
#       message: "give me your version on one word"

deps:
  stage: building
  tags:
    - formation
  variables:
    TRIGGER_CACHE: "off"
  script:
    - python -m venv venv
    - source venv/bin/activate
    - pip install -r app/requirements.txt
    - pip install -r app/requirements-dev.txt
  cache:
    key: "py-deps-$CI_COMMIT_BRANCH"
    paths:
      - venv/
    policy: push
  rules:
    - changes:
        - app/requirements.txt
        - app/requirements-dev.txt
    - if: $TRIGGER_CACHE == "on"
     
test:
  stage: testing
  tags:
    - formation
  before_script:
    - source venv/bin/activate
  script:
    - >
      pytest 
      --junitxml=reports/junit.xml 
      --cov=app 
      --cov-report=term 
      --cov-report=xml:reports/coverage.xml
  coverage: /TOTAL\s+\d+\s+\d+\s+(\d+%)/
  artifacts:
    when: always
    access: all
    expire_in: "1 hour"
    paths:
      - reports/coverage.xml
    reports:
      junit: reports/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: reports/coverage.xml 
  cache:
    key: "py-deps-$CI_COMMIT_BRANCH"
    untracked: true
    policy: pull
  # Alias yaml: accroche le contenu de &mr_rules à la clé rules
  rules: *mr_rules

sonar:
  stage: qualifying
  tags:
    - formation
  image:
    name: sonarsource/sonar-scanner-cli:12
    # désactiver l'entrypoint de l'image (commande par défaut) qui perturbe le script ci-dessous
    entrypoint: [""]
  script:
    # doc: https://docs.sonarsource.com/sonarqube-server/analyzing-source-code/analysis-parameters/parameters-not-settable-in-ui
    - >
      sonar-scanner
      -Dsonar.projectKey=dev
      -Dsonar.sources=./app
      -Dsonar.exclusions=app/tests/**
      -Dsonar.host.url=http://gitlab.lan.fr:9000
      -Dsonar.login=$SONAR_TOKEN
      -Dsonar.python.coverage.reportPaths=reports/coverage.xml
      -Dsonar.qualitygate.wait=true
  rules: *mr_rules